* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --red: #E74E35;
    --white: #fffdfd;
    --hover-red: rgba(231, 78, 53, 0.6)
}

/* Navigation Header */
.header {
    background-color: var(--red);
}

.navbar-brand {
    display: flex;
    align-items: center;

}

header a {
    color: var(--white) !important;

}

/* Slow Transition on hover interaction */
header a:hover {
    color: var(--red) !important;
    transition: 5s;

}

.navbar-brand h1 {
    font-size: medium;

}

/* Hero Banner Section */
.hero-banner-title {
    display: none;
}

.hero-banner {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 35vh;
    background-color: var(--white) !important;
}

.hero-banner-text {
    display: none;
}

.hero {
    background-color: var(--white) !important;
    display: block;
    overflow: hidden;
    margin: 20px;
}

.Portrait img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    max-height: 38vh;
    padding: 0;
    margin: 0;

}

.hero-col-2 h1 {
    padding-top: 5%;
}

/* Work Section */

.work h2 {
    color: var(--white);
    display: flex;
    justify-content: center;
    padding: 1%;
}

.work img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    max-height: 28vh;
}

.work img:hover {
    background-color: var(--hover-red);
    transition: 2s;

}

.work {
    display: block;
    background-image: url(../images/code.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-header {
    background-color: var(--red);
}

.card-header button {
    color: var(--white);
    font-weight: bold;
    text-decoration: none !important;
}

.card-header button:hover {
    color: var(--white) !important;
    text-decoration: none !important;

}

/* Skills Section */

/* media query */
@media only screen and (max-width: 600px) {

    /* Navigation Header */

    .navbar-brand h1 {
        /* Removal of Header Title */
        display: none;

    }

    /* Hero Banner Section */
    .hero-col-2 h1 {
        padding-top: 5%;
        font-size: medium;
    }

    .hero-col-2 p {
        font-size: small;
    }

    .hero-second-column {
        display: none;
    }

    .hero-banner {
        height: auto;
    }

    .hero-banner-title {
        display: block;
    }

    .Portrait img {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    .hero-banner-text {
        display: inline;
    }




}